body {
    font-family: arial;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

hr {
	width: 100%;
    border: 0; 
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

table.summary-table {
	border: 1px gray solid;
	border-collapse: collapse;
}

table.summary-table td {
    border: 1px gray solid;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

td.label {
    font-weight: bold;
}

a.download {
    font-size: 80%;
}

div.search {
	float: right;
	padding: 10px;
}

div.header {
	width: 100%;
	height: 50px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	background: #F8F8F8;
	border-bottom: 1px solid black;
}

div.header span {
	position: relative;
    font-size: 140%;
    font-weight: bold;
	top: 10px;
	left: 10px;
}

div.content {
    width: 100%;
    margin: 5px 5px 0px 5px;
}

iframe.nav {
    margin-right: 5px;
}

ul.square {
    list-style-type: square;	
}